In [ ]:
#task1
def chickens(x):
  d=dict()
  if(x>10):
    d["Number of chickens"]=["Many"]
  else:
    d["No of chickens:"]=x
  print(d)
chickens(9)

{'No of chickens:': 9}

In [ ]:
#Task2
def create_string(s):
    if len(s) < 3:
        return ""
    else:
        return s[:3] + s[-3:]
print(create_string("intelligence"))

intnce

In [ ]:
#task3
def replace_char(s):
    if len(s) < 1:
        return ""
    else:
        first_char = s[1]
        return first_char + s[1:].replace(first_char, '@')
print(replace_char("Ooogle"))  # Output: O@@gle

o@@gle

In [ ]:
#Task4
string = "mix"
string1= "pod"
new_string = string1[0:2] + string[2:]+" "+string[0:2]+string1[2:]
print(new_string)

pox mid

In [ ]:
#task5
def match_words(words):
    ctr = 0
    for word in words:
        if len(word) >= 2 and word[0] == word[-1]:
            ctr += 1
    return ctr
print(match_words(['abc', 'xyz', 'aba', '1221']))

2

In [ ]:
#task6
string=['mix','abcd','xyz','book']
string.sort()

print(string)

['abcd', 'book', 'mix', 'xyz']

In [ ]:
#task7
def last(n):
	return n[-1]

def sort(tuples):
	return sorted(tuples, key=last)

a=[(1, 7), (1, 3), (3, 4, 5), (2, 2)]
print(sort(a))

[(2, 2), (1, 3), (3, 4, 5), (1, 7)]

In [ ]:
#task8
def pal(string):
  string=input(("Enter a string:"))
  if(string==string[::-1]):
      print("palindrome")
  else:
      print("Not palindrome")
pal(" ")

Enter a string:racecar
palindrome

In [ ]:
#task9
from pandas.core.common import flatten
a= [[1, 2, 3], [4, 5]]
print(list(flatten(a)))

[1, 2, 3, 4, 5]

In [ ]:
#task10
def Intersection(lst1, lst2):
    return set(lst1).intersection(lst2)

lst1 = [4,5,6,9,0]
lst2 = [6,0,2,4]
print(Intersection(lst1, lst2))

{0, 4, 6}

In [ ]:
#task11
def check(s1, s2):
    if(sorted(s1)== sorted(s2)):
        print("Anagrams.")
    else:
        print("Not anagrams.")

s1 ="listen"
s2 ="silent"
check(s1, s2)

Anagrams.

In [ ]:
#task12
def binary_search(nums, target):
    low = 0
    high = len(nums) - 1

    while low <= high:
        mid = low + (high - low) // 2

        if nums[mid] == target:
            return mid
        elif nums[mid] < target:
            low = mid + 1
        else:
            high = mid - 1

    return -1
nums = [1, 3, 5, 7, 9]
binary_search(nums, 3)

1

In [ ]:
#task13
def merge_sort(arr):
    if len(arr) <= 1:
        return arr

    mid = len(arr) // 2
    left = arr[:mid]
    right = arr[mid:]

    left = merge_sort(left)
    right = merge_sort(right)

    return merge(left, right)

def merge(left, right):
    result = []
    i = j = 0

    while i < len(left) and j < len(right):
        if left[i] < right[j]:
            result.append(left[i])
            i += 1
        else:
            result.append(right[j])
            j += 1

    result.extend(left[i:])
    result.extend(right[j:])

    return result
arr = [70, 50, 30, 10, 20, 40]
sorted_arr = merge_sort(arr)
print(sorted_arr)

[10, 20, 30, 40, 50, 70]

In [ ]:
#task14
def quick_sort(arr):

  if len(arr) <= 1:
    return arr

  pivot = arr[len(arr) // 2]
  left = [x for x in arr if x < pivot]
  middle = [x for x in arr if x == pivot]
  right = [x for x in arr if x > pivot]
  return quick_sort(left) + middle + quick_sort(right)

arr = [1, 7, 4, 1, 10, 9, -2]
sorted_arr = quick_sort(arr)
print(sorted_arr)

[-2, 1, 1, 4, 7, 9, 10]

In [ ]:
#task15
def frequency_count(arr):
  freq_dict = {}
  for num in arr:
    if num in freq_dict:
      freq_dict[num] += 1
    else:
      freq_dict[num] = 1
  return freq_dict

arr = [1, 2, 2, 3, 4, 2]
freq_dict = frequency_count(arr)
print(freq_dict)

{1: 1, 2: 3, 3: 1, 4: 1}

In [ ]:
#task16
def distinct_count(arr):
  return len(set(arr))
arr = [1, 2, 2, 3, 4, 2]
distinct_count = distinct_count(arr)
print(distinct_count)

4

In [ ]:
#task17
def unionandintersection(set1, set2):
  union = set1.union(set2)
  intersection = set1.intersection(set2)
  return (union, intersection)
set1 = {1, 2, 3, 4}
set2 = {4, 5, 6, 7}
union, intersection = unionandintersection(set1, set2)
print("Union:", union)
print("Intersection:", intersection)

Union: {1, 2, 3, 4, 5, 6, 7}
Intersection: {4}

In [ ]:
#task18
def diction(dictionary):
  return list(set(dictionary.values()))

dictionary = {'a': 1, 'b': 2, 'c': 2, 'd': 3, 'e': 3, 'f': 3}
values = diction(dictionary)
print(values)

[1, 2, 3]

In [ ]:
#task19
dA = { 'x' : 1, 'y' : 2, 'z' : 3 }
dB = { 'u' : 1, 'v' : 2, 'w' : 3, 'x'  : 1, 'y': 2 }

setA = set( dA )
setB = set( dB )
setOfCommonKeys = setA.intersection( setB )
print(max(setOfCommonKeys))

y

In [ ]:
#task20
def Merge(dict1, dict2):
	return(dict2.update(dict1))

dict1 = {'a': 10, 'b': 8}
dict2 = {'d': 6, 'c': 4}
print(Merge(dict1, dict2))
print(dict2)

None
{'d': 6, 'c': 4, 'a': 10, 'b': 8}

In [ ]:
#task21
list_of_dictionaries = [
    {'id': 1, 'name': 'taha'},
    {'id': 2, 'name': 'tayyab'},
    {'id': 3, 'name': 'ali'},
]
list_of_values = [1, 3]
filtered_list_of_dicts = [
    dictionary for dictionary in list_of_dictionaries
    if dictionary['id'] in list_of_values
]
print(filtered_list_of_dicts)

[{'id': 1, 'name': 'taha'}, {'id': 3, 'name': 'ali'}]

In [ ]:
#task22
lis1 = [1, 2, 3, 4, 5, 1, 2, 5, 6, 7, 9, 9]
x = []
y = []
for i in lis1:
	if i not in x:
		x.append(i)
for i in x:
	if lis1.count(i) > 1:
		y.append(i)
print(y)

[1, 2, 5, 9]